// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

// @import "site/fontawesome";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #fff;
    font-family: 'Montserrat', sans-serif !important;

}

footer{
    background: #000000;
}

#login{
    background-image: url('../images/login-background.jpg') !important;
}
.card-header-login{
    background: #151515;
}

#menu{

    // a {
    //     color: $brand-primary !important;
    // }

    .dropdown {
        position: inherit !important;
    }
    .custom-dropdown-menu{
        width: 100%;
        border-radius: 0 !important;
        border: 0 !important;
        background: #FFFFFF !important;
    }

    // max-height: 70px;

}

.img-banner{
    max-height: 90px !important;
    margin-bottom: 10px !important;
}

a.text-category{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}

#categoryContainer{
    max-height: 130px !important;
}

#productPage{
    margin-top: 100px !important;
}

#cartPage{
    margin-top: 200px !important;
}
